@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}

$green: #27ae60;
$black: #130f40;
$white: #fff;
$light_color: #666;
$light_bg: #f7f7f7;
$border: 0.2rem solid rgba(0,0,0,0.2);
$box_shadow: 0 1rem 1rem rgba(0,0,0,0.05);

@mixin grid($val){
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 1.5rem;
}

@mixin font($size){
    font-family: 'Satisfy', cursive;
    font-size: $size;
    color:  $green;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-margin-top: 8.5rem;

    &::-webkit-scrollbar{
        width: 1rem;
    }
    &::-webkit-scrollbar-track{
        background: $white;
    }
    &::-webkit-scrollbar-thumb{
        background: $green;
        border-radius: 5rem;
    }
}

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;

        span{
            @include font(3rem)
        }
        h3{
            font-size: 3rem;
            color: $black;
        }
}

.btn{
    display:  inline-block;
    margin-top: 1rem;
    padding: 0.7rem 1.5rem;
    font-size: 1.7rem;
    cursor: pointer;
    color: $white;
    background: $green;
    border-radius: 0.5rem;

    &:hover{
        background: $black;
    }
}

.home_header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: $white;
    box-shadow: $box_shadow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;

    .home_logo{
        font-size: 2.5rem;
        font-weight: bolder;
        color: $black;

        i{
            padding-right: 0.5rem;
            color: $green;
        }
    }

    .home_navbar{
        a{
            font-size: 1.7rem;
            margin: 0 1rem;
            color: $light_color;

            &:hover{
                color: $green;
            }
        }
    }
    .home_icons div{
        height: 4.5rem;
        width: 4.5rem;
        line-height: 4.5rem;
        font-size: 2rem;
        background: $light_bg;
        color: $black;
        border-radius: 0.5rem;
        margin-left: 0.3rem;
        cursor: pointer;
        text-align: center;

        &:hover{
            color: $white;
            background: $green;
        }
    }
}

#menu_btn{
    display: none;
}

@keyframes fadeUp{
    0%{
        transform: translateY(5rem);
        opacity: 0;
    }
}

.home_search_form_container{
    position: fixed;
    top: 8.5rem;
    left: 0;
    right: 0;
    height: calc(100vh - 8.5rem);
    background: $white;
    display: none;
    z-index: 1000;

    &.active{
        display: block;
    }

    form{
        height: 7rem;
        border-bottom: 0.2rem solid $black;
        width: 100%;
        display: flex;
        align-items: center;
        animation: fadeUp 0.4s linear;

        input{
            height: 100%;
            width: 100%;
            font-size: 1.7rem;
            color: $black;
            text-transform: none;
            padding-right: 1rem;
        }
        
        label{
            font-size: 3rem;
            cursor: pointer;
            color: $black;

            &:hover{
                color: $green;
            }
        }
    }
}

.home_shopping_cart_container{
    position: fixed;
    top: 8.5rem;
    left: 0;
    right: 0;
    height: calc(100vh - 8.5rem);
    background: $white;
    overflow-y: scroll;
    padding-bottom: 8rem;
    z-index: 1000;
    display: none;

    &.active{
        display: block;
    }
    &::-webkit-scrollbar{
        width: 1rem;
    }
    &::-webkit-scrollbar-track{
        background: $white;
    }
    &::-webkit-scrollbar-thumb{
        background: $black;
        border-radius: 5rem;
    }

    .title{
        font-size: 2.5rem;
        padding: 1rem;
        color: $black;
        border-bottom: $border;
        text-align: center;
    }

    .home_products_container{
        border: $border;
        border-radius: 0.5rem;
        animation: fadeUp 0.4s linear;

        .home_box_container{
            @include grid(30rem);
            padding: 1.5rem;

            .home_box{
                border-radius: 0.5rem;
                background: $light_bg;
                display: flex;
                align-items: center;
                gap: 1.5rem;
                padding: 2rem;
                position: relative;

                .fa-times{
                    position: absolute;
                    top: 0.7rem;
                    right: 1rem;
                    font-size: 2rem;
                    cursor: pointer;
                    color:  $black;
                    
                    &:hover{
                        color: $green;
                    }
                }

                img{
                    height: 8rem;
                }

                .content{
                    h3{
                        font-size: 2rem;
                        color:  $black;
                    }
                    span{
                        font-size: 1.5rem;
                        color:  $light_color;

                        &.price{
                            color: $green;
                            font-size: 1.7rem;
                        }
                    }
                    input{
                        width: 8rem;
                        padding: 0.5rem 1.2rem;
                        font-size: 1.5rem;
                        color: $black;
                        margin: 0.7rem 0;
                    }
                }
            }
        }
    }
    .home_cart_total{
        margin-top: 2rem;
        border: $border;
        border-radius: 0.5rem;
        animation: fadeUp 0.4s linear 0.4s backwards;

        .home_box{
            padding: 1.5rem;

            h3{
                color: $black;
                font-size: 2rem;
                padding-bottom: 0.5rem;

                span{
                    color: $green;
                }
            }
        }
    }
}

.home_login_form_container{
    position: fixed;
    top: 8.5rem;
    left: 0;
    right: 0;
    height: calc(100vh - 8.5rem);
    background: $white;
    z-index: 1000;
    padding: 0 2rem;
    display: none;

    &.active{
        display: block;
    }
    form{
        margin: 2rem auto;
        max-width: 40rem;
        box-shadow: $box_shadow;
        border: $border;
        padding: 2rem;
        border-radius: 0.5rem;
        animation: fadeUp 0.4s linear;

        h3{
            padding-bottom: 1rem;
            font-size: 2.5rem;
            text-transform: uppercase;
            color: $black;
        }
        .home_box{
            margin: 0.7rem 0;
            border-radius: 0.5rem;
            background: $light_bg;
            padding: 1rem 1.5rem;
            font-size: 1.5rem;
            color: $black;
            text-transform: none;
            width: 100%;
        }
        .remember{
            padding: 1rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;

            label{
                font-size: 1.5rem;
                cursor: pointer;
                color: $light_color;
            }
        }
        .btn{
            margin: 1rem 0;
            width: 100%;
            text-align: center;
        }
        p{
            padding-top: 1rem;
            font-size: 1.5rem;
            color: $light_color;

            a{
                color: $green;
                display: inline-block;

                &:hover{
                    color: $black;
                }
                &::after{
                    display:block;
                    content: '';
                    border-bottom: solid 0.3rem $black;  
                    transform: scaleX(0);  
                    transition: transform 0.5s ease-in-out;
                    transform-origin: 50% ; 
                }
                &:hover::after{
                    transform: scaleX(100%);
                    color: $black;
                }
            }
        }
    }
}

.home_page{
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 2rem;
    position: relative;
    overflow: hidden;

    .content{
        flex: 1 1 41rem;

        span{
            font-size: 2rem;
            color: $green;
        }
        h3{
            font-size: 4rem;
            color: $black;
            padding-top: 1rem;
        }
        p{
            font-size: 1.5rem;
            color: $light_color;
            line-height: 2;
            padding: 1rem 0;
        }
    }
    .image{
        flex: 1 1 41rem;
        margin: 2rem 0;
        pointer-events: none;

        .home_bg_img{
            width: 100%;
            margin-top: 5rem;
        }
    }
    .home_parallax_img{
        position: absolute;
        top: -10rem;
        right: -10rem;
        width: 80vw;
    }
}

.home_category{
    @include grid(16rem);
    padding-bottom: 5rem;

    .home_box{
        padding: 2rem;
        text-align: center;
        border-radius: 0.5rem;
        background: $light_bg;

        &:hover{
            background: $green;

            h3{
                color: $white;
            }
        }
        img{
            height: 7rem;
        }
        h3{
            font-size: 1.8rem;
            color: $black;
        }
    }
}

.home_about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    background: $light_bg;

    .image{
        flex: 1 1 40rem;

        img{
            width: 100%;
        }
    }
    .content{
        flex: 1 1 40rem;

        span{
            @include font(3rem);
        }
        .title{
            font-size: 3rem;
            padding-top: 0.5rem;
            color: $black;
        }
        p{
            padding: 1rem 0;
            line-height: 2;
            font-size: 1.5rem;
            color: $light_color;
        }
        .icons_container{
            margin-top: 2rem;
            display: flex;
            flex-wrap: wrap;
            gap: 1.5rem;

            .icon{
                flex: 1 1 30rem;
                border-radius: 0.5rem;
                background: $white;
                box-shadow: $box_shadow;
                display: flex;
                align-items: center;
                gap: 2rem;
                padding: 2rem;

                h3{
                    font-size: 1.5rem;
                    color: $black;
                }
            }
        }
    }
}

.home_popular .home_box_container{
    @include grid(25rem);

    .home_box{
        border-radius: 0.5rem;
        position: relative;
        background: $light_bg;
        padding: 2rem;
        text-align: center;

        .fa-heart{
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
            font-size: 2.5rem;
            color: $light_color;
            cursor: pointer;

            &:hover{
                color: $green;
            }
        }
        .image{
            margin: 1rem 0;

            img{
                height: 15rem;
            }
        }
        .content{

            h3{
                font-size: 2rem;
                color: $black;
            }
            .stars{
                padding: 1rem;
                font-size: 1.5rem;

                i{
                    color: gold;
                }
                span{
                    color: $light_color;
                }
            }
            .price{
                font-size: 2rem;
                color: $black;

                span{
                    font-size: 1.5rem;
                    color: $light_color;
                    text-decoration: line-through;
                }
            }
        }
    }
}

.home_banner{
    
    .home_row_banner{
        background: url(../image/row-banner.png) no-repeat;
        height: 50rem;
        background-size: cover;
        background-position: center;
        position: relative;
        border-radius: 0.5rem;

        .content{
            position: absolute;
            top: 50%;
            left: 7%;
            transform: translateY(-50%);

            span{
                @include font(4rem);
                color: $black;
            }
            h3{
                font-size: 6rem;
                color: red;
                text-transform: uppercase;
            }
            p{
                font-size: 2rem;
                padding-bottom: 1rem;
            }
        }
    }
    .home_grid_banner{
        @include grid(30rem);

        .home_grid{
            position: relative;
            border-radius: 1rem;
            overflow: hidden;
            height: 55rem;

            &:hover img{
                transform: scale(1.2);
            }
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            .content{
                position: absolute;
                top: 2rem;
                padding: 0 2rem;

                &.center{
                    text-align: center;
                    width: 100%;

                    span{
                        color: $light_color;
                    }
                    h3{
                        color: $black;
                    }
                }
                span{
                    font-size: 2.5rem;
                    color: $white;
                }
                h3{
                    font-size: 3rem;
                    color: $white;
                    padding-top: 0.5rem;
                }
            }
        }
    }
}

.home_menu .home_box_container{
    @include grid(40rem);

    .home_box{
        border-radius: 0.5rem;
        background: $light_bg;
        padding: 2rem;
        display: flex;
        align-items: center;
        gap: 1.5rem;

        &:hover{
            background: $black;

            .content h3{
                color: $white;
            }
        }
        img{
            height: 20rem;
        }
        .content{

            h3{
                font-size: 2rem;
                color: $black;
                padding-bottom: 0.5rem;
            }
            .price{
                font-size: 1.5rem;
                color: $green;
            }

        }
    }
}

.home_order{

    .icons_container{
        @include grid(30rem);
        margin-bottom: 2rem;

        .icon{
            border-radius: 0.5rem;
            padding: 2rem;
            text-align: center;
            background: $light_bg;

            img{
                height: 10rem;
            }
            h3{
                font-size: 1.5rem;
                color: $black;
                margin-top: 0.5rem;
            }
        }
    }
    form{
        background: $light_bg;
        padding: 2rem;
        border-radius: 0.5rem;

        .home_flex{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .inputBox{
                width: 49%;
                padding: 0.8rem 0;

                span{
                    font-size: 1.5rem;
                    color: $light_color;
                }
                input, textarea{
                    width: 100%;
                    margin-top: 0.5rem;
                    padding: 1rem 1.5rem;
                    border-radius: 0.5rem;
                    font-size: 1.5rem;
                    text-transform: none;
                    color: $black;
                }
                textarea{
                    height: 100%;
                    resize: none;
                }

                .home_map{
                    margin-top: 0.5rem;
                    height: 100%;
                    width: 100%;
                    border-radius: 0.5rem;
                }
            }
            
        }
    }
}

.home_blogs .home_box_container{
    @include grid(30rem);

    .home_box{
        overflow: hidden;
        border-radius: 0.5rem;

        &:hover{

            .image{

                img{
                    transform: scale(1.2);
                }
                h3{
                    left: 1.5rem;
                }
            }
        }
        .image{
            height: 25rem;
            overflow: hidden;
            width: 100%;
            position: relative;

            h3{
                position: absolute;
                z-index: 10;
                transition: 0.5s;
                top: 1rem;
                left: -100%;
                color: $black;
                border-radius: 0.5rem;
                background: $white;
                font-size: 1.5rem;
                padding: 0.5rem 1rem;

                i{
                    padding-right: 0.5rem;
                    color: $green;
                }
            }
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .content{
            padding: 1.5rem 2rem;
            background: $light_bg;

            .tags{
                padding-bottom: 1rem;

                a{
                    font-size: 1.5rem;
                    color: $black;

                    i{
                        color: $green;
                    }
                }
            }
            h3{
                font-size: 2rem;
                color: $black;
            }
            p{
                font-size: 1.3rem;
                color: $light_color;
                padding: 1rem 0;
                line-height: 2;
            }
        }
    }
}

.home_footer{
    background: $light_bg;

    .newsletter{
        text-align: center;
        margin-bottom: 2rem;
        
        h3{
            font-size: 2.5rem;
            color: $black;
            padding-bottom: 1rem;
        }
        form{
            margin: 1rem auto;
            max-width: 70rem;
            display: flex;
            border-radius: 0.5rem;
            overflow: hidden;

            input[type="email"]{
                height: 100%;
                width: 100%;
                padding: 1rem 1.5rem;
                font-size: 1.5rem;
                color: $black;
                text-transform: none;
            }
            input[type="submit"]{
                padding: 0 2rem;
                font-size: 1.5rem;
                color: $white;
                background: $green;
                cursor: pointer;

                &:hover{
                    background: $black;
                }
            }
        }
    }
    .home_box_container{
        @include grid(25rem);

        .home_box{

            h3{
                font-size: 2rem;
                color: $black;
                padding: 1rem 0;
            }
            p{
                font-size: 1.5rem;
                color: $light_color;
                padding: 1rem 0;
            }
            a{
                font-size: 1.5rem;
                color: $light_color;
                display: block;
                padding: 1rem 0;

                &:hover{
                    color: $green;

                    i{
                        padding-right: 2rem;
                    }
                }
                i{
                    padding-right: 0.5rem;
                    color: $green;
                }
            }
        }
    }
    .bottom{
        padding-top: 1rem;
        text-align: center;

        .share{
            margin: 1.5rem 0;

            a{
                height: 4.5rem;
                width: 4.5rem;
                line-height: 4.5rem;
                font-size: 2rem;
                border-radius: 0.5rem;
                margin: 0 0.3rem;
                color: $white;
                background: $green;

                &:hover{
                    background: $black;
                }
            }
        }
        .credit{
            font-size: 1.2rem;
            color: $black;
            padding: 1rem;

            span{
                color: $green;
            }
        }
    }
}





//Media queries
@media (max-width: 991px){
    html{
        font-size: 55%;
    }
    .home_header{
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }
}
@media (max-width: 768px){
    #menu_btn{
        display: inline-block;
    }
    .home_header .home_navbar{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: $white;
        border-top: $border;
        border-bottom: $border;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

        &.active{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
        a{
            font-size: 2rem;
            margin: 2rem;
            display: block;
        }
    }
    .home_page .home_parallax_img{
        top: 0; 
        right: 0;
        width: 130%;
    } 
    .home_order form .home_flex .inputBox{
        width: 100%;
    }
    
}

//độ phân giải laptop
@media (max-width: 1540px){
    .btn{
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
    }

    .heading h3{
        font-size: 2rem
    }

    .home_header{

        .home_navbar{

            a{
                font-size: 1.2rem;
            }
        }
        .home_icons div{
            height: 3.5rem;
            width: 3.5rem;
            line-height: 3.5rem;
            font-size: 1.5rem;
            background: $light_bg;
            color: $black;
        }
    }

    .home_search_form_container{
        top: 7.8rem;

        form label{
            font-size: 2rem;
        }
    }

    .home_shopping_cart_container{
        top: 7.8rem;
        
        .title{
            font-size: 1.5rem;
        }
        .home_products_container .home_box_container{
            @include grid(20rem);

            .home_box{
                gap: 1.5rem;

                .fa-times{
                    font-size: 1rem;
                    
                    &:hover{
                        color: $green;
                    }
                }
                img{
                    height: 7rem;
                }
                .content{

                    h3{
                        font-size: 1.3rem;
                    }
                    span{
                        font-size: 1.1rem;

                        &.price{
                            font-size: 1.4rem;
                        }
                    }
                    input{
                        width: 6rem;
                        font-size: 1rem;
                    }
                }
            }
        }
        .home_cart_total .home_box{
    
            h3{
                font-size: 1.2rem;
            }
        }
    }

    .home_login_form_container {
        top: 7.8rem;

        form{

            h3{
                font-size: 1.5rem;
            }
            .home_box{
                font-size: 1rem;
            }
            .remember{

                label{
                    font-size: 1rem;
                }
            }
            p{
                font-size: 1rem;

                a{
                
                    &::after{
                        border-bottom: solid 0.2rem $black;  
                    }
                }
            }
        }
    }
    
    .home_page .content{

        span{
            font-size: 1.5rem;
        }
        h3{
            font-size: 2.5rem;
        }
        p{
            font-size: 1.2rem;
        }
    }

    .home_category{
        @include grid(10rem);
    }

    .home_about .content{
    
        span{
            @include font(2rem);
        }
        .title{
            font-size: 2rem;
        }
        p{
            font-size: 1.2rem;
        }
        .icons_container{

            .icon{
                flex: 1 1 20rem;
                gap: 2rem;

                h3{
                    font-size: 1.2rem;
                }
            }
        }
    }

    .home_popular{

        .home_box_container{
            @include grid(20rem);
        
            .home_box{
        
                .fa-heart{
                    font-size: 2rem;
        
                }
                .image img{
                    height: 10rem;
                }
                .content{
        
                    h3{
                        font-size: 1.5rem;
                    }
                    .stars{
                        font-size: 1.2rem;
                    }
                    .price{
                        font-size: 1.5rem;
        
                        span{
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    } 

    .home_banner{

        .home_row_banner{
            height: 35rem;
    
            .content{
    
                h3{
                    font-size: 4rem;
                }
                p{
                    font-size: 1.5rem;
                }
            }
        }
        .home_grid_banner{
            @include grid(30rem);
    
            .home_grid{
                height: 35rem;
    
                .content{
    
                    span{
                        font-size: 1.5rem;
                    }
                    h3{
                        font-size: 2rem;
                    }
                }
            }
        }
    }
    .home_menu .home_box_container{
        @include grid(30rem);

        .home_box{
    
            img{
                height: 15rem;
            }
            .content{
    
                h3{
                    font-size: 1.5rem;
                }
                .price{
                    font-size: 1.5rem;
                }
    
            }
        }
    } 
    
    .home_order{

        .icons_container .icon{    
    
            img{
                height: 7rem;
            }
            h3{
                font-size: 1.2rem;
            }
        }
        form .home_flex .inputBox{

            span{
                font-size: 1.2rem;
            }
            input, textarea{
                font-size: 1rem;
            }   
        }
    }

    .home_blogs .home_box_container .home_box{   

        .image{

            h3{
                font-size: 1.2rem;
            }
        }
        .content{

            .tags a{
                font-size: 1.3rem;
            }
            h3{
                font-size: 1.5rem;
            }
            p{
                font-size: 1.1rem;
            }
        }
    }
    
    .home_footer{
    
        .newsletter{
            
            h3{
                font-size: 2rem;
            }
            form{
    
                input[type="email"]{
                    font-size: 1.2rem;
                }
                input[type="submit"]{
                    font-size: 1.2rem;
                }
            }
        }
        .home_box_container{
            @include grid(20rem);
    
            .home_box{
    
                h3{
                    font-size: 1.5rem;
                }
                p{
                    font-size: 1.2rem;
                }
                a{
                    font-size: 1.2rem;
                }
            }
        }
        .bottom{
    
            .share a{
                height: 3.5rem;
                width: 3.5rem;
                line-height: 3.5rem;
                font-size: 1.5rem;    
            }
            .credit{
                font-size: 1rem;
            }
        }
    }
}
@media (max-width: 1280px){
    .home_page .home_parallax_img{
        top: 0;
        right: 0;
        width: 100%;
    }
}
@media (max-width: 450px){
    html{
        font-size: 50%;
    }
    .home_shopping_cart_container .home_cart_total{
        .home_box{
            text-align: center;

            .btn{
                width: 100%;
            }
        }
    }
    .home_page .content{
        h3{
            font-size: 3rem;
        }
        p{
            font-size: 1.5rem;
        }
    }
}


